<div class="pull-right">
  <%= link_to("Check All Jobs", jobs_path) %> | <%= link_to("Back", root_path) %>
</div>
<% if @jobs.count > 0 %>
  <h3>Total find <%= @jobs.count %> jobs</h3>
  <hr>
  <table class="table table-boldered">
    <thead>
      <tr>
        <td>Title</td>
        <td>Lower Salary</td>
        <td>Upper Salary</td>
        <td>Publish Time</td>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td>
            <%= link_to(job.title, job_path(job)) %>
          </td>
          <td>
            <%= job.wage_lower_bound %>
          </td>
          <td>
            <%= job.wage_upper_bound %>
          </td>
          <td>
            <%= job.created_at %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  Oops, No any results matched,please try again! <%= link_to("Get all Jobs", jobs_path, class: "btn btn-primary") %>
<% end %>
