<div id="search-page" class="container-fluid jobs-show-page">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <br>
    <div class="pull-right">
      <%= link_to(content_tag(:i, " Check All Jobs", class: "fa fa-reply-all"), jobs_path) %> |
      <%= link_to(content_tag(:i, " Back", class: "fa fa-arrow-left"), url_for(:back)) %>
    </div>

    <% if @jobs.blank?%>
      <br>
      <div>
        Opps! No any results matched, please try again.
      </div>
    <% else %>
      <h3>Total find <%= @jobs.count %> jobs</h3>
      <div class="divider"></div>
      <%= render :partial => "jobs_item", :collection => @jobs, :as => :job %>
      <div class="text-center">
        <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
      </div>
    <% end %>
  </div>
</div>
