<div id="search-page" class="container-fluid jobs-show-page">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class="pull-right">
      <%= link_to("Check All Jobs", jobs_path) %> | <%= link_to("Back", root_path) %>
    </div>

    <% if @jobs.count > 0 %>
      <h3>Total find <%= @jobs.count %> jobs</h3>
      <div class="divider"></div>
      <%= render :partial => "jobs_item", :collection => @jobs, :as => :job %>
    <% else %>
      Oops, No any results matched,please try again! <%= link_to("Get all Jobs", jobs_path, class: "btn btn-primary") %>
    <% end %>

  </div>
</div>
