<div class="container-fluid job-show-page">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <h3 class="text-center"><%= @job.title %> at <%= @job.company %></h1>
    <hr>
    <div class="job-content">
      <div class="pull-right">
        <%= link_to(content_tag(:i, " Back", class: "fa fa-arrow-left"), url_for(:back)) %>
      </div><br>
      <p>
        <span>Job Description:</sapn> <br>
        <%= simple_format(@job.description, class: "job-description") %>
      </p>
      <div class="divider"></div>
      <p>
        <span>Loaction:</span> <%= @job.city %>
      </p>
      <p>
        <span>Publish Time</span>: <%= time_ago_in_words(@job.created_at) %> ago
      </p>
      <p>
        <span>Contact:</span> <%= @job.contact_email %>
      </p>
      <div class="text-center">
        <% if !current_user.admin? %>
          <% if current_user && current_user.has_applied?(@job) %>
            <%= link_to("Has Applied", new_job_resume_path(@job), class: "btn btn-primary disabled") %>
          <% else %>
            <%= link_to("Apply Now", new_job_resume_path(@job), class: "btn btn-primary") %>
          <% end %>
        <% end %>

      </div>
    </div>

  </div>
</div>
