<!-- <div class="form-group form-inline search-bar">
  <%= form_tag search_jobs_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search], class: "form-control search-bar-input", :placeholder => "Job title, Company or City" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <%= link_to("Get Start", jobs_path, class: "btn btn-success") %>
    </p>
  <% end %>
</div> -->


<div class="container">
	<div class="row">
		<!-- Carousel -->
    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			    <div class="item active">
			    	<img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="First slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                            	<span>Welcome to <strong>Job Listing</strong></span>
                            </h2>
                            <br>
                            <h3>
                            	<span>Discover your best future.</span>
                            </h3>
                            <br>
                            <div class="">
                                <%= link_to("Get started now", jobs_path, class: "btn btn-theme btn-lg btn-min-block") %></div>
                        </div>
                    </div><!-- /header-text -->
			    </div>
			    <div class="item">
			    	<img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="Second slide">
			    	<!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Welcome to Job Listing</span>
                            </h2>
                            <br>
                            <h3>
                            	<span>One search, one click</span>
                            </h3>
                            <br>
                            <div class="">
                                <%= link_to("Get started now", jobs_path, class: "btn btn-theme btn-lg btn-min-block") %></div>
                        </div>
                    </div><!-- /header-text -->
			    </div>
			    <div class="item">
			    	<img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="Third slide">
			    	<!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Welcome to Job Listing</span>
                            </h2>
                            <br>
                            <h3>
                            	<span>Add resume is free.</span>
                            </h3>
                            <br>
                            <div class="">
                                <%= link_to("Get started now", jobs_path, class: "btn btn-theme btn-lg btn-min-block") %></div>
                        </div>
                    </div><!-- /header-text -->
			    </div>
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div><!-- /carousel -->
	</div>
</div>

<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" id="advantage">
  <h2 class="text-center">Why Us?</h2>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <div class="row">
        <div class="col-md-4">
          <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
        </div>
        <div class="col-md-8">
          <p>
            You can expect to receive 5-10 interview invitations within a week.
          </p>
        </div>
      </div>

    </div>
    <div class="col-md-6 col-lg-4">
      <div class="row">
        <div class="col-md-4">
          <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
        </div>
        <div class="col-md-8">
          <p>
            You can expect to receive 5-10 interview invitations within a week.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4">
      <div class="row">
        <div class="col-md-4">
          <i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
        </div>
        <div class="col-md-8">
          <p>
            You can expect to receive 5-10 interview invitations within a week.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-md-12 col-lg-10 col-lg-offset-1" id="categories">
  <!-- category -->
  <h2 class="text-center">Category</h2>
  <div class="row row-1">
    <div class="col-md-3 col-sm-6">
      <div class="category-box text-center">
        <h3>Image</h3>
        <p>
          <%= link_to("PHP", jobs_path(:order => "by_category1")) %>
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="category-box text-center">
        <h3>Image</h3>
        <p>
          <%= link_to("Category2", jobs_path(:order => "by_category2")) %>
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="category-box text-center">
        <h3>Image</h3>
        <p>
          <%= link_to("Category3", jobs_path(:order => "by_category3")) %>
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="category-box text-center">
        <h3>Image</h3>
        <p>
          <%= link_to("Category4", jobs_path(:order => "by_category4")) %>
        </p>
      </div>
    </div>
  </div>
  <div class="row row-2">
    <div class="col-md-3 col-sm-6">
      <div class="category-box text-center">
        <h3>Image</h3>
        <p>
          <%= link_to("Category5", jobs_path(:order => "by_category5")) %>
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="category-box text-center">
        <h3>Image</h3>
        <p>
          <%= link_to("Category6", jobs_path(:order => "by_category6")) %>
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="category-box text-center">
        <h3>Image</h3>
        <p>
          <%= link_to("Category7", jobs_path(:order => "by_category7")) %>
        </p>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="category-box text-center">
        <h3>Image</h3>
        <p>
          <%= link_to("Category8", jobs_path(:order => "by_category8")) %>
        </p>
      </div>
    </div>
  </div>
  <!-- end category -->
</div>
