

<section id="home" class="sec-main">
    <h1 class="main-heading">Discover You Best Future Here</h1>
</section>


  <section id="about" class="sec-about">
    <div class="container">
      <h1>About Us</h1>

      <hr />

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>Hi, WELCOME to OW offer. What's OW meaning? OW is one week. Our mission is helping you to find your dream work just one week. Looks like impossible?
						Let me tell you, come OW, everything is possible!
        </div>
      </div>
    </div>
  </section>



  <section id="services" class="sec-services">
    <div class="container">
      <h1>Why OW Offer?</h1>

      <hr />

      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-4x fa fa-building"></i>

          <h2 class="h3">Top Tech Companies</h2>

          <p>1000+ Companies registered on OW offer, just wating you coming</p>
        </div>

        <div class="col-sm-4">
          <i class="fa fa-4x fa-calendar-o"></i>

          <h2 class="h3">Quickly Responsive</h2>

          <p>You can receive 10-20 interview invitations within one week.</p>
        </div>

        <div class="col-sm-4">
          <i class="fa fa-4x fa-fighter-jet"></i>

          <h2 class="h3">Higher Effective</h2>

          <p>One Click, one search, you will get what you want.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="categories">
		<div class="container">
			<h1>Categories</h1>

      <hr />
			<div class="row">
				<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("developer.png") %>
			      <div class="caption">
              <h4><%= link_to("Developer", developer_jobs_path(:order=> "by_developer")) %></h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("customer-service.png") %>
			      <div class="caption">
			        <h4><%= link_to("Customer Service", customer_service_jobs_path(:order => "by_customer-service")) %></h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("healthcare.png") %>
			      <div class="caption">
			        <h4><%= link_to("Health Care", healthcare_jobs_path(:order => "by_healthcare")) %></h4>
			      </div>
			    </div>
			  </div>

				<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("sales-marketing.png") %>
			      <div class="caption">
			        <h4><%= link_to("Sales-Marketing", sales_marketing_jobs_path(:order => "by_sales-marketing")) %></h4>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3">
			   <div class="thumbnail">
			      <%= image_tag("lawyer.png") %>
			      <div class="caption">
			        <h4><%= link_to("Legal", legal_jobs_path(:order => "by_legal")) %></h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("non-profit.png") %>
			      <div class="caption">
			        <h4><%= link_to("Nonprofit", non_profit_jobs_path(:order => "by_non-profit")) %></h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("reunion.png") %>
			      <div class="caption">
			        <h4><%= link_to("Human Resources", human_resource_jobs_path(:order => "by_human-resource")) %></h4>
			      </div>
			    </div>
			  </div>

				<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("design.png") %>
			      <div class="caption">
			        <h4><%= link_to("Design", design_jobs_path(:order => "by_design")) %></h4>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

	</section>


  <section id="testimonials" class="sec-testimonials">
    <div class="container">
      <h1>Employees said</h1>

      <hr />

      <div class="row">
        <div class="col-sm-4">
          <p class="text-center">"OW offer is such amazing. I got my dream work just one week!"</p>

          <p class="text-right">&mdash; Elizabeth</p>
        </div>

        <div class="col-sm-4">
          <p class="text-center">"Are you paid fairly? Big boss know your worth? Come here, you'll got them!"</p>

          <p class="text-right">&mdash; Milly Cooper</p>
        </div>

        <div class="col-sm-4">
          <p class="text-center">"I have worked with several different people and it always seemed like a pain—luckily I found OW offer. Thanks them!"</p>

          <p class="text-right">&mdash; Jerry Lai</p>
        </div>
      </div>
    </div>
  </section>
