<!-- <div class="form-group form-inline search-bar">
  <%= form_tag search_jobs_path, :method => :get do %>
    <p>
      <%= text_field_tag :search, params[:search], class: "form-control search-bar-input", :placeholder => "Job title, Company or City" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <%= link_to("Get Start", jobs_path, class: "btn btn-success") %>
    </p>
  <% end %>
</div> -->



<section id="home" class="sec-main">
    <h1 class="main-heading">Discover You Best Future Here</h1>
</section>

  <section id="about" class="sec-about">
    <div class="container">
      <h1>About Us</h1>

      <hr />

      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <p>Hi, WELCOME to OW offer. What's OW meaning? OW is one week. Our mission is helping you to find your dream work just one week. Looks like impossible?
						Let me tell you, come OW, everything is possible!
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="sec-services">
    <div class="container">
      <h1>Why OW Offer?</h1>

      <hr />

      <div class="row">
        <div class="col-sm-4">
          <i class="fa fa-4x fa fa-building"></i>

          <h2 class="h3">Top Tech Companies</h2>

          <p>1000+ Companies registered on OW offer, just wating you coming</p>
        </div>

        <div class="col-sm-4">
          <i class="fa fa-4x fa-calendar-o"></i>

          <h2 class="h3">Quickly Responsive</h2>

          <p>You can receive 10-20 interview invitations within one week.</p>
        </div>

        <div class="col-sm-4">
          <i class="fa fa-4x fa-fighter-jet"></i>

          <h2 class="h3">Higher Effective</h2>

          <p>One Click, one search, you will get what you want.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="categories">
		<div class="container">
			<h1>Categories</h1>

      <hr />
			<div class="row">
				<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("developer.png") %>
			      <div class="caption">
			        <h4><%= link_to("Developer", jobs_path(:order => "by_developer")) %></h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("customer-service.png") %>
			      <div class="caption">
			        <h4><%= link_to("Customer Service", jobs_path(:order => "by_customer-service")) %></h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("healthcare.png") %>
			      <div class="caption">
			        <h4><%= link_to("Health Care", jobs_path(:order => "by_healthcare")) %></h4>
			      </div>
			    </div>
			  </div>

				<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("sales-marketing.png") %>
			      <div class="caption">
			        <h4><%= link_to("Sales-Marketing", jobs_path(:order => "by_sales-marketing")) %></h4>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3">
			   <div class="thumbnail">
			      <%= image_tag("lawyer.png") %>
			      <div class="caption">
			        <h4><%= link_to("Legal", jobs_path(:order => "by_legal")) %></h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("non-profit.png") %>
			      <div class="caption">
			        <h4><%= link_to("Nonprofit", jobs_path(:order => "by_non-profit")) %></h4>
			      </div>
			    </div>
			  </div>

			  <div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("reunion.png") %>
			      <div class="caption">
			        <h4><%= link_to("Human Resources", jobs_path(:order => "by_human-resource")) %></h4>
			      </div>
			    </div>
			  </div>

				<div class="col-sm-6 col-md-3">
			    <div class="thumbnail">
			      <%= image_tag("design.png") %>
			      <div class="caption">
			        <h4><%= link_to("Design", jobs_path(:order => "by_design")) %></h4>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

	</section>


  <section id="testimonials" class="sec-testimonials">
    <div class="container">
      <h1>Employees said</h1>

      <hr />

      <div class="row">
        <div class="col-sm-4">
          <p class="text-center">"OW offer is such amazing. I got my dream work just one week!"</p>

          <p class="text-right">&mdash; Elizabeth</p>
        </div>

        <div class="col-sm-4">
          <p class="text-center">"Are you paid fairly? Big boss know your worth? Come here, you'll got them!"</p>

          <p class="text-right">&mdash; Milly Cooper</p>
        </div>

        <div class="col-sm-4">
          <p class="text-center">"I have worked with several different people and it always seemed like a pain—luckily I found OW offer. Thanks them!"</p>

          <p class="text-right">&mdash; Jerry Lai</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="sec-contact">
    <div class="container">
      <h1>Leave Your Message</h1>

      <hr />

      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <form class="center-block" action="#" method="post">
            <div class="form-group">
              <label class="sr-only" for="inputName">Full name</label>

              <input id="inputName" class="form-control" type="text" placeholder="Adam Smith" required />
            </div>

            <div class="form-group">
              <label for="inputMail" class="sr-only">Email Address</label>

              <input id="inputMail" class="form-control" type="email" placeholder="adam.smith@mail.com" required />
            </div>

            <div class="form-group">
              <label for="inputMessage" class="sr-only">Your Message</label>

              <textarea id="inputMessage" class="form-control" name="message" cols="30" rows="8" required></textarea>
            </div>

            <div class="form-group">
              <button class="btn btn-default center-block" type="submit" value="Hire me">Hire me</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
