<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">OW Offer</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to("Get Started", jobs_path) %>
            </li>
            <li>
              <div class="form-group form-inline search-bar">
                <%= form_tag search_jobs_path, :method => :get do %>
                  <p>
                    <%= text_field_tag :search, params[:search], class: "form-control search-bar-input", :placeholder => "Job title, Company or City" %>
                    <%= submit_tag "Search", class: "btn btn-default search-bar-submit" %>
                  </p>
                <% end %>
              </div>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right js-nav">
            <% if !current_user %>
              <li><%= link_to('<span class="glyphicon glyphicon-user"></span> Sign Up'.html_safe, new_user_registration_path) %></li>
              <li><%= link_to('<span class="glyphicon glyphicon-log-in"></span> Login'.html_safe, new_user_session_path) %></li>
            <% else %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-user-circle"></i> <%= current_user.email %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <% if current_user.admin? %>
                      <%= link_to("<span class='glyphicon glyphicon-home'></span> Admin Panel".html_safe, admin_jobs_path) %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to("Post a Job", new_job_path) %>
                  </li>
                  <li>
                    <%= link_to("<span class='glyphicon glyphicon-log-out'></span> Logout".html_safe, destroy_user_session_path, method: :delete) %>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
